doctype 
html(lang="es")
  head  
    meta(charset="UTF-8")
    link(rel="stylesheet", href="./styles/mobile.css", media="screen and (min-width: 420px)")
    link(rel="stylesheet", type="text/css", href="./styles/estilos.css", media="screen and (min-width: 1024px)" )

    title Miguel Olarte
  body
    header.header 
      h1 Miguel Olarte 
      p Practicas Preprocesadores
    main.main 
      section.quien-soy  
          h2 Miguel Olarte 
          p Desarrollador Frontend
      section.tecnologias
        h2 Html css javascript 
      section.proyectos
        h2 avemaria portafolio
    footer.footer
      h2 Miguel Olarte
      p Desarrollador web
